<!--
  Generated template for the FeedbackformPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Feed Back</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <h1>WELCOME: Jeyaprakash </h1>
  <div>We are seeking your feedback on Dialysis Program that you have attended from 27-02-2018 to 28-02-2018</div>

  <h2>Rating Scale</h2>
  <p>None</p>
  <p>* Not Applicabel</p>
  <p>** Strongly Disagree</p>
  <p>*** Disagree</p>
  <p>**** Agree</p>
  <p>***** Strongly Agree</p>
  <h5>1) Traning was relevant to my needs</h5>
  <rating [(ngModel)]="Q1" readOnly="false" max="5" emptyStarIconName="star-outline" halfStarIconName="star-half" starIconName="star"
    nullable="false" (ngModelChange)="onModelChange($event)">
  </rating>
  <h5>2) Materials Provided were helpful</h5>
  <rating [(ngModel)]="Q2" readOnly="false" max="5" emptyStarIconName="star-outline" halfStarIconName="star-half" starIconName="star"
    nullable="false" (ngModelChange)="onModelChange($event)">
  </rating>
  <h5>3) Length of traning was sufficient</h5>
  <rating [(ngModel)]="Q3" readOnly="false" max="5" emptyStarIconName="star-outline" halfStarIconName="star-half" starIconName="star"
    nullable="false" (ngModelChange)="onModelChange($event)">
  </rating>
  <div padding>
      <button ion-button color="primary" block (click)="onLoad(thankyou)">Submit</button>
    </div>
</ion-content>