<!--
  Generated template for the SigninPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
      <ion-buttons start>
          <button ion-button icon-only menuToggle>
            <ion-icon name="menu"></ion-icon>
          </button>
        </ion-buttons>
    <ion-title>Sign In</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-row class="logo-row">
        <ion-col></ion-col>
        <ion-col>
          <img src="https://t3.ftcdn.net/jpg/01/43/31/56/240_F_143315675_DoRU37d6ryK5d2z4pj0KcReeQxmYlLdp.jpg"/>
        </ion-col>
        <ion-col></ion-col>
      </ion-row>
    <form #f="ngForm" (ngSubmit)="onSignin(f)">
        <ion-list>
          <ion-item>
            <ion-label fixed>Mail</ion-label>
            <ion-input type="email" ngModel name="email" required></ion-input>
          </ion-item>
          <ion-item>
              <ion-label fixed>Password</ion-label>
              <ion-input type="password" ngModel name="password" required ></ion-input>
            </ion-item>
        </ion-list>
        <button ion-button block type="submit" [disabled]="!f.valid">Signin</button>
       </form>
       <ion-row><ion-col></ion-col><ion-col><button ion-button clear (click)="onLoad(signupPage)">Not a member? SignUp as Trainer</button></ion-col><ion-col></ion-col></ion-row>
       <ion-row><ion-col></ion-col><ion-col><button ion-button clear>Forgot Password </button></ion-col><ion-col></ion-col></ion-row>
       <ion-row><ion-col></ion-col><ion-col><button ion-button clear (click)="onLoad(feedbackuserentry)">Provide Feedback</button></ion-col><ion-col></ion-col></ion-row>
</ion-content>
