<ion-menu [content]="nav">
    <ion-header>
        <ion-toolbar>
            <ion-title>
                Menu
            </ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-content>
        <ion-list>
            <button ion-item icon-left
            (click)="onLoad(feedback)"
             *ngIf="isAuthenticated">
            <ion-icon name="book"></ion-icon>
            Feedback
            </button>
            <button ion-item icon-left
            (click)="onLoad(signinPage)"
            *ngIf="!isAuthenticated">
            <ion-icon name="log-in"></ion-icon>
            Signin
            </button>
            <button ion-item icon-left
            (click)="onLoad(signupPage)"
            *ngIf="!isAuthenticated">
            <ion-icon name="person"></ion-icon>
            Signup
            </button>
            <button ion-item icon-left
            (click)="onLogout()"
            *ngIf="isAuthenticated">
            <ion-icon name="log-out"></ion-icon>
            Logout
            </button>
        </ion-list>
    </ion-content>
</ion-menu>
<ion-nav [root]="rootPage" #nav></ion-nav>
