<!--
  Generated template for the FeedbackuserdetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>feedbackuserdetails</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-list>

        <ion-item>
          <ion-label fixed>Employer ID</ion-label>
          <ion-input type="text" value="" name="empid"></ion-input>
        </ion-item>
      
        <ion-item>
          <ion-label fixed>Category</ion-label>
          <ion-input type="text" name="category"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label fixed>Department</ion-label>
            <ion-input type="text" name="department"></ion-input>
          </ion-item>
      </ion-list>
    
      <div padding>
        <button ion-button color="primary" block (click)="onLoad(feedbackform)">Submit</button>
      </div>
</ion-content>
