<!--
  Generated template for the SignupPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-buttons start>
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>signup</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <form #f="ngForm" (ngSubmit)="onSignup(f)">
    <ion-list>
      <ion-item>
        <ion-label fixed>Mail</ion-label>
        <ion-input type="email" ngModel name="email" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label fixed>Password</ion-label>
        <ion-input type="password" ngModel name="password" required [minlength]="6"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label fixed>Confirm Password</ion-label>
        <ion-input type="password" ngModel name="confirmpassword" required [minlength]="6"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label fixed>First Name</ion-label>
        <ion-input type="text" ngModel name="firstname" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label fixed>Last Name</ion-label>
        <ion-input type="text" ngModel name="lastname" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label fixed>Phone Number</ion-label>
        <ion-input type="number" ngModel name="phonenumber" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label fixed>Profession</ion-label>
        <ion-input type="text" ngModel name="Profession" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label fixed>Company</ion-label>
        <ion-input type="text" ngModel name="Company" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label fixed>EmpID</ion-label>
        <ion-input type="text" ngModel name="EmpID" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label fixed>Role</ion-label>
        <ion-input type="text" ngModel name="Role" required></ion-input>
      </ion-item>
    </ion-list>
    <button ion-button block type="submit" [disabled]="!f.valid">SignUp</button>
  </form>
</ion-content>