<!--
  Generated template for the FeedbackprogramdetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Program Details</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-card>
    <ion-card-header>
      Program ID 123456
    </ion-card-header>
    <ion-item>
      <ion-icon name="calendar" item-left large></ion-icon>
      <h2>01/01/2018</h2>
    </ion-item>
    <ion-item>
      <ion-icon name="person" item-left large></ion-icon>
      <h2>Mathan</h2>
    </ion-item>
    <ion-item>
      <ion-icon name="clipboard" item-left large></ion-icon>
      <h2>Dialysis</h2>
    </ion-item>
    <ion-item>
      <ion-icon name="home" item-left large></ion-icon>
      <h2>SRM Hospital</h2>
      <p>14 S. Hop Avenue, Madison, WI 53703</p>
    </ion-item>
    <ion-item>
      <span item-left>2 days ago</span>
      <button ion-button icon-left clear item-end (click)="onLoad(feedbackuserdetails)">
        <ion-icon name="navigate"></ion-icon>
        Give Feedback
      </button>
    </ion-item>
  </ion-card>

</ion-content>